.Art-features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;
    justify-items: stretch;
    align-items: stretch;
    width: calc(100% - 4rem);
    margin: 0 2rem 0 2rem;
}

.search-bar{
    width: min(50vw, 600px);
    max-width: calc(100% - 4rem);
    height: 40px;
    padding: 0.5rem;
    margin: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: 1px solid #a855f7;
    transition: transform 0.3s ease;
}

@media (max-width: 640px) {
    .search-bar{
        margin: 1rem auto;
    }
}

.search-bar:focus{
    outline: none;
    border-color: #a855f7;
    box-shadow: 0 0 5px #a855f7;
}

.search-bar:hover{
    outline: none;
    border-color: #a855f7;
    box-shadow: 0 0 5px #a855f7;
    transform: scale(1.02);
}

.artists{
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-left: 4px solid #9333ea;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-left: 1rem;
}