.EventScreen{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    margin-left: 0.5rem;
}

.search-bar-events{
    width: 50vw;
    height: 40px;
    padding: 0.5rem;
    margin-left: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: 1px solid #a855f7;
    transition: transform 0.3s ease;
}

.search-bar-events:focus{
    outline: none;
    border-color: #a855f7;
    box-shadow: 0 0 5px #a855f7;
}

.search-bar-events:hover{
    outline: none;
    border-color: #a855f7;
    box-shadow: 0 0 5px #a855f7;
    transform: scale(1.02);
}

.events-header{
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-left: 4px solid #9333ea;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-left: 1rem;
}