.event-card{
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    box-shadow: 0 4px 15px rgb(255 255 255 / 50%);
    transition: transform 0.3s ease;
    width: fit-content;
}

.event-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 15px rgb(255 255 255 / 10%);
}

.event-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.event-name{
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.event-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.event-btn{
    width: 100px;
    padding: 5px;
    background-color: #a855f7;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.event-venue{
    text-align: center;
    color: white;
    font-size: 0.9rem;
    margin-top: 0.25rem;
}

.event-date {
    font-size: 0.95rem;
    color: #a855f7;
    font-weight: 500;
    margin-top: 0.25rem;
}

.event-artist {
    font-size: 0.85rem;
    opacity: 0.7;
    margin-top: 0.25rem;
}

.event-card a {
    text-decoration: none;
}