.music_item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

.music_list{
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    box-shadow: 0 4px 15px rgb(255 255 255 / 50%);
    transition: transform 0.3s ease;
    width: 500px;
}

.cover_image{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.filt{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.btn{
    width: 100px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #a855f7;
    color: #a855f7;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease;
    margin: 0px 10px;
}

.btn-active{
    color: #ffffff;
    background-color: #a855f7;
    border-color: #a855f7;
    cursor: pointer;
}